<launch>
<!--
This launch file is used for the experimental running of my new path planning algorithm.
This launch file should be activated on the robot side. Make sure that nav_minimum_create.launch
is attachd together with this file.
-->

   <!--turn on all necessary sensors and load in URDF/xacro model, also initializing tf transformation-->
   <include file="$(find mobile_safeguard_primitive)/launch/navigation/robot_side/nav_minimum_create.launch">
   </include>

   <!-- Run a static transform between /base_link and /base_footprint needed for SLAM -->
   <node pkg="tf" type="static_transform_publisher" name="base_footprint_broadcaster" args="0 0 -0.065 0 0 0 /base_link /base_footprint 100" />
  
  <!-- Launch laser odometry -->
<!--  <include file="$(find mobile_safeguard_primitive)/launch/navigation/utils/odometries/laser_odometry.launch"/>
-->
  <!-- Launch visual odometry -->
<!--
  <include file="$(find mobile_safeguard_primitive)/launch/navigation/utils/odometries/visual_odometry.launch"/>
-->
  <!-- Launch EKF filtered odometry. Published topic: /odometry/filtered -->
<!--
  <include file="$(find mobile_safeguard_primitive)/launch/navigation/utils/odometries/ekf_filtered_odom.launch"/>
-->
</launch>
