<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find beebot_control)/config/beebot_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/beebot" args="joint_state_controller
					  base_to_platform_position_controller
					  base_to_lwheel_position_controller
					  base_to_rwheel_position_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/beebot/joint_states" />
  </node>

</launch>
