<launch>
<!--
Usage:
1. fire up this launch file
2. modify the value in goal_x and goal_y according to what you got by reading
   PoseStamped goal topic.
-->
  <!--1. for sim map-->
  <arg name="goal_x" value="-9.67" />
  <arg name="goal_y" value="5.01" />

  <!--2. full map -->
<!--
  <arg name="goal_x" value="-10.0" />
  <arg name="goal_y" value="4.85" />
-->

  <node pkg="goal_publisher" type="goal_pub" name="goal_pub" >
    <rosparam param="goal_x" subst_value="True">$(arg goal_x)</rosparam>
    <rosparam param="goal_y" subst_value="True">$(arg goal_y)</rosparam>
  </node>
</launch>
