<launch>
<!--
this launch file is used for testing the SBPL's AD* planner.
This file is dedicated to simulation with Gazebo. There will be
its sister launch files coming up to run beebot in the actual world.

Usage:

1. Launch beebot_2d_planner_node. It runs on ADStar and RSTAR
   algorithm. By default it runs on ADStar. If you need switch 
   to one of both planners, add
   <param name="planner_type" value="[desired_planner]"/> within
   the node tag.

2. Change the map_file tag to the desired map directory. If you load
   in the .world file with the wrong format, Gazebo won't launch neither
   the robot nor the map.
-->

  <arg name="odom_in" default="/odometry/filtered"/>

  <param name="/use_sim_time" value="true" />
  
  <!-- fire up Gazebo and Rviz for simulation and visualization-->
  <include file="$(find simulation_tobot)/beebot_control/launch/beebot_control.launch">
     <arg name="world_file" value="$(find simulation_tobot)/maps/my_test_map.world" />
  </include>
  
   <!--launch gmapping-->
   <include file="$(find mobile_safeguard_primitive)/launch/gmapping.launch">
	   <arg name="scan_topic" value="/beebot/laser/scan" />
   </include>

  <!-- EKF filter for odometry -->
  <!-- Launch laser odometry -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_base_footprint_broadcaster" 
        args="0 0 -0.1685 0 0 0 /base_link /base_footprint 100"/>
  <include file="$(find mobile_safeguard_primitive)/launch/navigation/odometries/laser_odometry.launch">
	  <arg name="scan_topic" value="/beebot/laser/scan"/>
  </include>  
  
  <!-- Launch visual odometry -->
  <include file="$(find mobile_safeguard_primitive)/launch/navigation/odometries/viso2_mono_odometry.launch">
	  <arg name="image_in" value="/beebot/camera/image_raw" />
	  <arg name="camera_info" value="/beebot/camera/camera_info" />
  </include>

  <!-- Launch EKF filtered odometry. Published topic: /odometry/filtered -->
  <include file="$(find mobile_safeguard_primitive)/launch/navigation/odometries/ekf_filtered_odom.launch">
	  <arg name="visual_odom" value="/mono_odometer/odometry" />
          <arg name="wheel_odom" value="/beebot_diff_drive_controller/odom" />
          <arg name="odom_frame" value="odom" />
  </include>
  
  <!-- Publishing robot pose so that nav planner can use -->
  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="output_frame" value="odom"/>
    <param name="freq" value="10.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="false"/>
    <param name="vo_used" value="false"/>
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="false"/>

    <remap from="/odom" to="$(arg odom_in)" />
  </node>
   
  <!-- MY PLANNER !! -->
  <!--<include file="$(find mobile_safeguard_primitive)/launch/navigation/improvedd-riskrrtplanner.launch">
    <arg name="pose" value="/slam_out_pose"/>
  </include>-->
</launch>
