<launch>
   <!--LAUNCH MOVE_BASE-->
   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
    <remap from="/cmd_vel" to="/beebot_diff_drive_controller/cmd_vel" />

    <!-- HERE THE PLUGINS CAN BE ADDED IN IN THE PARAMETER BASE_GLOBAL_PLANNER-->    
    <param name="base_global_planner" value="beebot_planner/RAstarPlannerROS" />

    <rosparam file="$(find mobile_safeguard_primitive)/launch/navigation/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find mobile_safeguard_primitive)/launch/navigation/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find mobile_safeguard_primitive)/launch/navigation/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find mobile_safeguard_primitive)/launch/navigation/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find mobile_safeguard_primitive)/launch/navigation/config/base_local_planner_params.yaml" command="load" />
   </node>
</launch>
