<launch>
  <arg name="pose" default="/slam_out_pose"/>
  <node pkg="mobile_safeguard_primitive" type="beebot_2d_planner_node" name="beebot_2d_planner_node">
	  <remap from="/initialpose" to="$(arg pose)" />
	  <remap from="/goal" to="/move_base_simple/goal" />
  </node>  
  <node pkg="mobile_safeguard_primitive" type="path2traj_converter" name="path2traj_converter"/>
  <!-- Controller mode -->
  <node pkg="riskrrt" type="controller" name="controller" output="screen">
    <remap from="/cmd_vel" to="/beebot_diff_drive_controller/cmd_vel" />
  </node>
</launch>
