<launch>
<!--
Load in your planner to use it, thanks!
-->
  <arg name="map_in" default=""/>

  <!--Bring in robot model-->
  <include file="$(find simulation_tobot)/beebot_description/launch/beebot_rviz.launch" />

  <!--run the map server and load in map-->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_in)"/>

  <!--Launch AMCL-->
  <node pkg="amcl" type="amcl" name="amcl" respawn="false">
    <!-- Overall filter parameters -->
    <param name="min_particles" value="100"/>
    <param name="max_particles" value="5000"/>
    <param name="kld_err" value="0.01"/>
    <param name="kld_z" value="0.99"/>
    <param name="update_min_d" value="0.1"/>
    <param name="update_min_a" value="0.1"/>
    <param name="resample_interval" value="1"/>
    <param name="transform_tolerance" value="0.2"/>
    <param name="recovery_alpha_slow" value="0.01"/>
    <param name="recovery_alpha_fast" value="0.1"/>
    <param name="gui_publish_rate" value="20.0"/>
    <!-- Laser model parameters -->
    <param name="laser_max_beams" value="60"/>
    <param name="laser_z_hit" value="0.95"/>
    <param name="laser_z_short" value="0.1"/>
    <param name="laser_z_max" value="0.05"/>
    <param name="laser_z_rand" value="0.05"/>
    <param name="laser_sigma_hit" value="0.2"/>
    <param name="laser_lambda_short" value="0.1"/>
    <param name="laser_model_type" value="beam"/>
    <param name="laser_likelihood_max_dist" value="2.0"/>
    <!-- Odometery model parameters -->
    <param name="odom_model_type" value="diff"/>
    <param name="odom_alpha1" value="0.2"/>
    <param name="odom_alpha2" value="0.2"/>
    <param name="odom_alpha3" value="0.8"/>
    <param name="odom_alpha4" value="0.2"/>
    <param name="odom_frame_id" value="/robot_0/odom"/> 
    <param name="base_frame_id" value="/robot_0/base_link"/> 
    <param name="global_frame_id" value="/map"/> 
    <!-- Initial pose-->
    <param name="initial_pose_x" value="0.0"/>
    <param name="initial_pose_y" value="0.0"/>
    <param name="initial_pose_a" value="0.0"/>

    <param name="use_map_topic" value="true" />
  </node>

  <!--Launch rviz-->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find mobile_safeguard_primitive)/launch/navigation/utils/rviz/motion_planning_display.rviz"/>   

</launch>
